/* Global  */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d9d9d9;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}

.section-no-background {
  display: flex;
  justify-content: center;
}

.section-background {
  display: flex;
  justify-content: center;
  background-color: rgba(158, 155, 155, 0.5);
}

h1,
h3 {
  font-family: 'Markazi Text', serif;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: 200;
}

h4 {
  font-family: 'Markazi Text', serif;
  font-size: 28px;
}

h6 {
  font-size: 15px;
  font-weight: bold;
}

h5 {
  font-size: 13px;
  font-weight: lighter;
}

/* Nav */
#logo-header {
  width: 200px;
}

#logo-header2 {
  display: none;
}

#header-list {
  display: flex;
  width: 900px;
  justify-content: space-between;
  padding: 0px;
}
.nav {
  display: flex;
  min-height: 140px;
}
.nav ul {
  list-style-type: none;
  align-items: center;
}
a,
.nav-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
#icon-basket {
  width: 50px;
}

#icon-basket-burger {
  width: 50px;
  display: block;
}

/* Hero */

#hero {
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 0px;
}
#yellow-text {
  display: flex;
  color: #f4ce14;
  font-size: 52px;
  margin: 0;
}

#hero-subheading {
  margin: 5px 0 10px 0;
  font-size: 36px;
  font-weight: bold;
}

.section-text {
  text-align: justify;
  line-height: 30px;
}

#reserve-button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background-color: #f4ce14;
  font-size: 20px;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}

#hero-image {
  max-height: 68%;
  border-radius: 10px;
}

/* Highlights */

#hero-info {
  width: 400px;
  font-size: 20px;
  align-items: center;
}
#highlights-specials-container {
  flex-direction: column;
  justify-content: space-between;
  justify-items: space-between;
  margin: 30px 0 30px 0;
}

#highlights-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#highlights-button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background-color: #f4ce14;
  font-size: 20px;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}

.special-card {
  border-radius: 11px 11px 0 0;
  width: 270px;
  background-color: #ccc5c5;
}

.specials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
  margin: 40px 0 40px 0;
}

.special-image {
  overflow: hidden;
  border-radius: 11px;
}

#special-salad,
#special-appetizer,
#special-cake {
  min-width: 270px;
  max-height: 160px;
  object-fit: cover;
}

#special-title {
  height: 60px;
  align-items: center;
}

#order-bar,
#special-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#special-title,
.special-info,
#order-bar {
  margin: 0 20px -5px 20px;
  line-height: 30px;
  font-size: 20px;
}

#item-price {
  color: #ff5c00;
}

#order-text {
  margin: 0;
  padding: 0;
}

#delivery-icon {
  width: 50px;
  height: 53px;
}

/* Testimonials */

#testimonials-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#testimonials-text {
  font-size: 28px;
  padding-top: 30px;
}

#testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33.3px;
  margin-bottom: 50px;
}

.testimonial-card {
  display: block;
  padding: 19px;
  width: 162px;
  height: 162px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.rating-container {
  display: flex;
  gap: 3px;
  align-items: top;
  justify-content: center;
}

.rating-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #f4ce14;
  border-radius: 3px;
}

#lemon-rating-icon {
  width: auto;
  height: 21px;
}

.user-container {
  display: flex;
  height: 0px;
  align-items: center;
  justify-content: space-between;
  object-fit: contain;
}

#user-image-container {
  position: relative;
  padding-top: 100px;
}

#user1 {
  width: 62px;
  height: 62px;
  border-radius: 30px;
  background-color: #9e9b9b;
}

.user-id {
  grid-template-areas: 'user-info' 'user-name';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  display: grid;
  object-fit: contain;
  font-size: 16px;
  font-weight: bold;
  justify-content: end;
  text-align: end;
  height: 20px;
}

#user-info {
  display: grid;
  grid-area: user-info;
  font-size: 16px;
  font-weight: bold;
  height: 20px;
}

#user-info-text {
  margin-top: 30px;
  margin-bottom: 1px;
}

#user-name {
  grid-area: user-name;
  height: 20px;
}

.user-comment {
  margin-top: 85px;
  line-height: 17px;
}

/* About */
#about {
  margin: 20px 0 50px 0;
}

#about-info {
  text-align: justify;
  margin-top: 10px;
  font-size: 20px;
}

#about-text {
  font-size: 36px;
}
#about-text,
#about-info {
  gap: 30px;
  max-width: 900px;
  margin-bottom: 20px;
  line-height: 30px;
}

#carousel {
  display: flex;
  width: 900px;
  height: 650px;
  object-fit: cover;
  object-position: center;
  justify-items: center;
  border-radius: 19px;
}

/* Footer */

#footer-background {
  display: flex;
  justify-content: center;
  background-color: rgba(158, 155, 155, 0.5);
}

#footer-container {
  min-height: auto;
  min-height: 400px;
  align-content: center;
  gap: 100px;
  margin-top: 30px 0 0 0;
  justify-content: space-between;
}

#footer {
  display: flex;
  justify-content: space-between;
  gap: 66px;
  padding-top: 20px;
  margin-top: 40px;
}

#footer-logo-contact {
  width: 150px;
  color: white;
}

#logo-footer {
  display: flex;
  height: 230px;
  margin: 0 0 30px;
  object-fit: contain;
  justify-content: right;
}

#footer-contact-info {
  margin-bottom: -15px;
}

.footer-link {
  color: white;
  font-size: 20px;
}

.footer-nav ul,
.footer-nav2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
}

.footer-nav li,
.footer-nav2 li {
  margin-bottom: 10px;
}

.footer-nav a,
.footer-nav2 a {
  text-decoration: none;
}

.footer-nav2 {
  display: flex;
  gap: 100px;
}

#placeholder {
  display: flex;
  width: 252px;
  height: auto;
  object-fit: contain;
  margin: 0px;
  padding: 0px;
  border-radius: 8px;
  order: 1;
}

#footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  max-width: 900px;
  gap: 0px;
  margin: 20px 0px 20px 0px;
}

.footer-social {
  width: auto;
  height: 30px;
  justify-content: center;
  margin-bottom: 15px;
}

#social-fb, #social-linkedin {
  height: 24px;
  padding-bottom: 3px;
}

#footer-copyright {
  margin: 10px;
  color: white;
}

#footer-legal {
  display: flex;
  justify-content: space-evenly;
  column-gap: 30px;
  margin: 0;
  padding: 0;
}

#terms,
#privacy,
#cookie {
  margin: 0;
  padding: 0;
  color: white;
}

/* Media Queries */
@media (max-width: 899px) {
  /* Global */

  .container {
    display: flex;
    background-size: auto 100%;
    background-position: left;
  }

  .section-background {
    display: flex;
    flex-direction: column;
  }

  /* Nav */

  .nav {
    z-index: -1;
    justify-items: center;
  }

  #header-list {
    margin: 0px;
    padding: 0px;
    width: auto;
  }

  .nav #header-list {
    justify-content: center;
    gap: 10px;
  }

  #logo-header {
    display: none;
  }

  #icon-basket {
    display: none;
  }

  #logo-header2 {
    display: flex;
    max-height: 70px;
    z-index: -2;
  }

  /* Hero */

  #hero {
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    padding: 0px;
  }

  #hero-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #yellow-text {
    font-size: 52px;
    text-align: center;
    text-wrap: wrap;
    margin: 0;
  }

  #hero-subheading {
    font-weight: bold;
  }

  .section-text {
    text-align: center;
  }

  .reserve-button-container {
    display: flex;
    justify-content: center;
  }

  #reserve-button {
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    background-color: #f4ce14;
    font-size: 20px;
  }

  #hero-image {
    margin: 20px 0;
  }

  /* Highlights */

  #highlights-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #highlights-button {
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    background-color: #f4ce14;
    font-size: 20px;
  }

  /* About */

  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  #about-text {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
  }

  #about-info {
    gap: 30px;
    max-width: 900px;
    margin-bottom: 40px;
    text-align: center;
  }

  #carousel {
    width: 100%;
    height: 450px;
    border-radius: 19px;
  }

  /* Footer */

  #footer-background {
    display: flex;
    margin: 10px;
  }

  #footer-social-container {
    flex-direction: flex;
    flex-direction: column;
    max-height: 10px;
    margin-bottom: 80px;
  }

  #footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
  }

  #footer-logo-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 3;
    text-align: center;
  }

  #logo-footer {
    object-fit: contain;
    justify-content: right;
    justify-self: right;
    margin-bottom: 0px 0px 30px;
    padding: 0px;
  }

  .footer-nav,
  .footer-nav2 {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .footer-link {
    font-size: 20px;
    font-weight: lighter;
  }

  .footer-nav2 {
    flex-wrap: wrap;
  }

  #placeholder-container {
    flex-wrap: wrap;
    order: 2;
  }

  #footer-bottom {
    flex-direction: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    
  }

  .footer-social {
    width: auto;
    height: 30px;
    justify-content: center;
    margin-bottom: 15px;
    
  }


#social-fb, #social-linkedin {
  height: 24px;
  padding-bottom: 3px;
}

  #footer-copyright,
  #footer-legal {
    text-align: center;
  }

  /* Burger-menu  */

  @keyframes checked-anim {
    50% {
      width: 50px;
      height: 200px;
    }
    100% {
      width: 900px;
      height: fit-content;
      border-radius: 8px;
      background-image: url('./assets/logo-pure-green-burger.png');
      background-repeat: no-repeat;
      /* background-position: center center; */
      background-size: 70%;
    }
  }
  @keyframes not-checked-anim {
    0% {
      width: 100px;
      height: 200px;
      background-color: #f4ce14;
    }
  }

  /* Global */

  html,
  body {
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  h1 {
    font-weight: 700;
    margin-bottom: -0.2em;
  }
  h3 {
    float: right;
    font-weight: lighter;
  }
  h4 {
    float: left;
    margin-left: -2%;
    font-weight: lighter;
  }

  #header-no-background {
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
  }

  /* Nav */

  .header-item {
    display: none;
    width: 230px;
  }

  .header-item,
  a {
    color: #495e57;
    font-size: 24pt;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
  }

  a:focus {
    display: block;
    color: #333;
    background-color: #eee;
    transition: all 0.5s;
  }

  #trigger,
  #burger,
  #burger:before,
  #burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #495e57;
    width: 30px;
    height: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    z-index: 1;
  }

  #trigger {
    height: 50px;
    background: none;
  }

  #burger:before {
    content: ' ';
    top: 10px;
    left: 0;
  }

  #burger:after {
    content: ' ';
    top: 20px;
    left: 0;
  }

  #menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform 0.2s ease;
    background: #495e57;
  }

  #menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform 0.2s ease;
  }

  #menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform 0.2s ease;
  }

  #menu {
    display: list-item;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 70px;
    width: 10px;
    height: 10px;
    background-color: #f4ce14;
    background-size: 55%;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    animation: not-checked-anim 0.2s both;
    transition: 0.2s;
  }

  #menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
  }

  #menu-toggle:checked + #trigger ~ #menu > .header-item,
  a {
    display: block;
  }
  [type='checkbox']:not(:checked),
  [type='checkbox']:checked {
    display: none;
  }
}
